/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea
logs
public/js/bootstrap.js
public/js/bootstrap.js.map
public/js/jquery.js
public/js/popper.min.js
public/css/bootstrap.min.css