// Fonts

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Roboto:300,400,700,900&display=swap');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

//icon font
@import "~material-design-icons/iconfont/material-icons.css";

$var1: #999999;
$var2: #f9f9f9;
$var3: #e5e5e5;

.navbar-brand img {
  width: 50px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto", Georgia, "Times New Roman", serif;
}

.display-4 {
  font-size: 2.5rem;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;

  .nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;

    &-link {
      padding-top: .75rem;
      padding-bottom: .75rem;
      font-size: .875rem;
    }
  }
}

.card-img-right {
  height: 100%;
  border-radius: 0 3px 3px 0;
}

.flex-auto {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.h-250 {
  height: 250px;
}

/*
 * Blog name and description
 */
.article-title {
  font-family: 'Roboto', sans-serif;
  color: #158250;
  font-size: 1.55rem;
}

.blog-title {
  margin-bottom: 0;
  font-size: 2rem;
  font-weight: 400;
}

.blog-description {
  font-size: 1.1rem;
  color: #999;
}


/* Pagination */
.blog-pagination {
  margin-bottom: 4rem;
}

.blog-pagination > .btn {
  border-radius: 2rem;
}

/*
 * Blog post
 */

.blog-title {
  margin-bottom: 0;
  font-size: 2rem;
  font-weight: 400;
}

.blog-description {
  font-size: 1.1rem;
  color: $var1;
}

.blog-pagination {
  margin-bottom: 4rem;

  > .btn {
    border-radius: 2rem;
  }
}

.blog-post {
  margin-bottom: 4rem;

  &-title {
    margin-bottom: .25rem;
    font-size: 2.5rem;
  }

  &-meta {
    margin-bottom: 1.25rem;
    color: $var1;
  }
}

.blog-footer {
  padding: 2.5rem 0;
  color: $var1;
  text-align: center;
  background-color: $var2;
  border-top: .05rem solid $var3;

  p:last-child {
    margin-bottom: 0;
  }
}

.card-body img {
  width: 150px;
  height: auto;
}

.post-shortDescription {
  font-family: 'Open Sans', sans-serif;
  width: 50%;
  font-size: 16px;
  line-height: 18px;
}

.field-label {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

.material-icon-size{
  width: 20px;
}